<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" 
	xmlns="http://java.sun.com/xml/ns/j2ee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee 
	http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
<servlet>

<servlet-name>Login</servlet-name>
<servlet-class>com.callcenter.servlet.LoginServlet</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>Login</servlet-name>
<url-pattern>/log</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>registration</servlet-name>
<servlet-class>com.callcenter.servlet.RegistrationListServlet</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>registration</servlet-name>
<url-pattern>/reg</url-pattern>

</servlet-mapping>

<servlet>
<servlet-name>registrationsave</servlet-name>
<servlet-class>com.callcenter.servlet.RegistrationsaveServlet</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>registrationsave</servlet-name>
<url-pattern>/registration</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>mobno</servlet-name>
<servlet-class>com.callcenter.servlet.MobieSearch</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>mobno</servlet-name>
<url-pattern>/mobno</url-pattern>
</servlet-mapping>


<servlet>
<servlet-name>cancel</servlet-name>
<jsp-file>/create-tickets-mobno.jsp</jsp-file>

</servlet>
<servlet-mapping>
<servlet-name>cancel</servlet-name>
<url-pattern>/cancel</url-pattern>

</servlet-mapping>
<servlet>
<servlet-name>ticket1</servlet-name>
<jsp-file>/create-tickets-question.jsp</jsp-file>

</servlet>
<servlet-mapping>
<servlet-name>ticket1</servlet-name>
<url-pattern>/yes</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>addticket</servlet-name>
<jsp-file>/create-tickets-question.jsp</jsp-file>

</servlet>
<servlet-mapping>
<servlet-name>addticket</servlet-name>
<url-pattern>/ticket</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>state</servlet-name>
<servlet-class>com.callcenter.servlet.CountryList</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>state</servlet-name>
<url-pattern>/state</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>add</servlet-name>
<servlet-class>com.callcenter.servlet.CountryModify</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>add</servlet-name>
<url-pattern>/add</url-pattern>
</servlet-mapping>

<servlet>
<servlet-name>vacancy</servlet-name>
<servlet-class>com.callcenter.servlet.potvacancy</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>vacancy</servlet-name>
<url-pattern>/vacancy</url-pattern>
</servlet-mapping>
<servlet>
<servlet-name>custticket</servlet-name>
<servlet-class>com.callcenter.servlet.TicketSearch</servlet-class>

</servlet>
<servlet-mapping>
<servlet-name>custticket</servlet-name>
<url-pattern>/custticket</url-pattern>
</servlet-mapping>
</web-app>
