/* CSS Document */

.text1 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: normal; color: #8E9140}
.text2 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #0B4F59}
.menu1 {  font-family:Arial, Helvetica, sans-serif; font-size: 11px; font-weight: bold; color: #888966; text-decoration: none}
.bluehighlight4 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-weight: normal; color: #3566D5}
.text5 {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #9AA2A3}
.more1 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 10px; font-weight: bold; color: #E3503B; text-decoration: none }
.links1 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #CD5E0C}
.links2 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #3566D5}
.greenhighlight2 { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px; font-weight: normal; color: #A4AA1D}
.textbox {  font-family:Arial, Helvetica, sans-serif; font-size: 12px; height: 22px; width: 140px; border: 1px #95BCCE solid}
.copyright {  font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 11px;	color: #FFFFFF;	text-decoration: none;}
.om { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 16px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #666600; text-decoration: none; }
.links { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #FFFFFF; }
.bodytext {
	font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew;
	font-size: 12px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	color: #000000;
	text-align: justify;
	height: 20px;
}
.subheadings {
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size: 16px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	color: #000000;
	height: 20px;
}
.text { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #663300; text-align: justify; }
.headings { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: bold; font-variant: normal; color: #FF0000; }
.symbols { font-family: Symbol; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #004364; text-align: justify; }
.blue_heading { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 12px; font-style: normal; font-weight: bold; font-variant: normal; color: #0066FF; }
.whitesmallhead { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: bold; font-variant: normal; color: #FFFFFF; }
body  { SCROLLBAR-FACE-COLOR: #cee8ff; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #ffff; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #cee8ff; SCROLLBAR-DARKSHADOW-COLOR: 1a295e }
body  { SCROLLBAR-FACE-COLOR: #ffcc66; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #ffffff; SCROLLBAR-3DLIGHT-COLOR: #ffff; SCROLLBAR-ARROW-COLOR: #ffffff; SCROLLBAR-TRACK-COLOR: #ffcc66; SCROLLBAR-DARKSHADOW-COLOR: #ffffff }
body  { SCROLLBAR-FACE-COLOR: #DED8C8; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #cccccc; SCROLLBAR-3DLIGHT-COLOR: #ffff; SCROLLBAR-ARROW-COLOR: #000000; SCROLLBAR-TRACK-COLOR: #DED8C8; SCROLLBAR-DARKSHADOW-COLOR: #ffffff }
.yellowmallhead { font-family: Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: bold; font-variant: normal; color: #CC9900; }
.blueheading { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 12px; font-style: normal; font-weight: bold; font-variant: normal; color: #005680; height:8;}
.brown11left { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; font-weight: normal; font-variant: normal; color: #663300; text-align: left;}
.darkbrown { font-family:Verdana, Arial, Helvetica, sans-serif, Renfrew; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #756C5B; letter-spacing: normal; text-align: justify; word-spacing: normal; }
.white_border { font-family:Arial, Helvetica, sans-serif; font-size: 11px; font-style: normal; line-height: normal; font-weight: normal; font-variant: normal; color: #E6E6E6; text-decoration: none; border: 1px solid #FFFFFF; }
.om_orange { font-family:Verdana, Arial, Helvetica, sans-serif; font-size: 12px; font-style: normal; line-height: normal; font-weight: bold; font-variant: normal; text-transform: none; color: #226822; text-decoration: none; }
.text {
	font-family:"Zurich BlkEx BT";
	font-size: 24px;
	font-style: normal;
	line-height: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	color: #FFFFFF;
	text-decoration: none;
}
.ul-menus{ font-family:Verdana, Arial, Helvetica, sans-serif;
color:#FF3300;
font-size:14px;
font-style:normal;

}
ul:hover
{
background:#FF3300;
}
